<footer>
  <div class="footer-body">
    <div class="footer-content">
      <h2>
        <a href="/about/">About</a>
      </h2>
      <p>
        Contact e-mail: <a href="mailto:ne10-webdev@protonmail.com">ne10-webdev@protonmail.com</a>
      </p>
      <p>
        On this blog, you'll mostly find <a href="/">posts</a> about web development, software and hardware
      </p>
    </div>
  </div>
</footer>